<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project1Graphical.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FA291BC1E40143400CC5CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FA291CD1E40143500CC5CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FA291D81E40143500CC5CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
